{# {% set background_image = page.media['background.jpg'] %}
{% set css = page.header.styles %} #}

<div class="container featured_reviews_container">
	{% if page.header.modular_title %}
		<h2 class=" hidden-xs">
			{{ page.header.modular_title }}
			{% if page.header.modular_description %}
				<br/>
				<small>{{ page.header.modular_description }}</small>
			{% endif %}
		</h2>
	{% else %}
		<div class="no_header_spacer"></div>
	{% endif %}

	<div class="row featured_reviews_row">
	{# <div class="featured_reviews_row"> #}
		{% for sub_page in page.collection %}
		{% if sub_page.url != page.url %}
				<div class='col-sm-4 featured_review'>
				{# <div class="featured_review"> #}
					<div class="featured_review_content">
						<div class="featured_review_image_container">
							<div class="featured_review_header">
								<div class="featured_review_image">
									<a href="{{ sub_page.url }}">
										<picture >
											<source srcset="{{ sub_page.media[sub_page.header.featured_image].cropZoom(800,600).url }} " media="(max-width: 768px)">

											<img class="img-responsive" src="{{ sub_page.media[sub_page.header.featured_image].cropZoom(800,600).url }}">
										</picture>
									</a>
								</div>
								{% if sub_page.header.tagline %}
								<span class="featured_review_image_tag hidden-xs">
									<h3><small>{{ sub_page.header.tagline }}</small></h3>
								</span>
							{% endif %}
							</div>
							<div class="container featured_review_inner_container">
								<div class="featured_review_stars_container">
									{% if sub_page.header.rating %}
										{% for i in 1..sub_page.header.rating %}
											<span class="rating_star_filled"></span>
										{% endfor %}
										{% if sub_page.header.rating < 3 %}
											{% for i in 1..(3 - sub_page.header.rating) %}
											<span class="rating_star_empty"></span>
											{% endfor %}
										{% endif %}
									{% endif %}
								</div>
								{# page.media[page.header.featured_image].cropResize(800,400).html(page.title,'Featured image','img-responsive featured_review_image') #}
								<a href="{{ sub_page.url }}">
									<h3>{{ sub_page.title }}</h3>
								</a>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
