<div class="categories-list-container">
  <ul>
    <a href="{{ base_url }}/articles/audio">
      <li>
        <i class="fa fa-headphones"></i>
        <h4>Audio</h4>
      </li>
    </a>
    <a href="{{ base_url }}/articles/cameras">
      <li>
        <i class="fa fa-camera"></i>
        <h4>Cameras</h4>
      </li>
    </a>
    <a href="{{ base_url }}/articles/computers">
      <li>
        <i class="fa fa-laptop"></i>
        <h4>Computers</h4>
      </li>
    </a>
    <a href="{{ base_url }}/articles/gaming">
      <li>
        <i class="fa fa-gamepad"></i>
        <h4>Gaming</h4>
      </li>
    </a>
    <a href="{{ base_url }}/articles/home">
      <li>
        <i class="fa fa-home"></i>
        <h4>Home</h4>
      </li>
    </a>
    <a href="{{ base_url }}/articles/mobile">
      <li>
        <i class="fa fa-mobile"></i>
        <h4>Mobile</h4>
      </li>
    </a>
    <a href="{{ base_url }}/articles/tvs">
      <li>
        <i class="fa fa-television"></i>
        <h4>TVs</h4>
      </li>
    </a>
  </ul>
</div>
