{% block partial_stylesheets %}
    {% do assets.add('theme://css/footer.css',100) %}

    {{ assets.css() }}
{% endblock %}

<div class="footer">
    <div class="container">
    	<div class="row">
    		<div class="col-sm-4">
    			<h3>Home</h3>
    			<ul>
            {% for page in pages.children %}
              {% if (page.visible) and not (page.menu == "Home") %}
    				      <li><a href="{{ page.url }}">{{ page.menu }}</a></li>
              {% endif %}
            {% endfor %}
    			</ul>
    		</div>
    		<div class="col-sm-4">
    			<h3>Contact</h3>
    			<ul>
    				<li><a href="{{base_url}}/comments-and-suggestions">Comments/Suggestions</a></li>
    				<li><a href="{{base_url}}advertising">Advertising</a></li>
    				<li><a href="{{base_url}}/product-reviews">Send Us Something to Review!</a></li>
    			</ul>
    		</div>
    		<div class="col-sm-4">
    			<h3>About</h3>
            <ul>
              <li>{{ site.metadata.description }}</li>

            </ul>
    			<ul>
    			</ul>
    		</div>
    	</div>
    </div>
</div>
