<div class="header">
    <a href="{{ base_url }}">
      <div class="logo_container">
          <i class="fa fa-globe"></i>
          <h1>{{ site.title }}</h1>
      </div>
    </a>
    <div class="hamburger_col">
        <span id="hamburger_icon" class="hidden-sm hidden-md hidden-lg glyphicon glyphicon-menu-hamburger">
        </span>
    </div>
    <div class="navigation_col hidden-xs">
      <ul>
        {% for page in pages.children %}
          {% if page.visible %}
            <li>
              {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
              {% if current_page == '' %}
                <a href="{{ page.url }}">{{ page.menu }}</a>
              {% else %}
                <a class="active-link" href="{{ page.url }}">{{ page.menu }}</a>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
    </div>
</div>
