{% extends 'partials/base.html.twig' %}


{% block content %}
{% if page.title %}
<div class="articles_title_container">
	<div class="container">
		<h1>
			{{ page.title }}
		</h1>
		{% if page.header.tagline %}
			<p>
				{{ page.header.tagline }}
			</p>
		{% endif %}
	</div>
</div>
{% endif %}
	<div class="container articles_page_container">
		<div class="row">
			<div class="col-md-9">
				{% if not page.collection %}
					<h3>We're just getting started!<br/>


					<small>Looks like we don't have any articles in this category yet, please come back later!</small>
				</h3>
				{% endif %}
				{% set collection = page.collection %}
				{% for page in collection %}
					<div class="row article_row">
						<div class="col-sm-4 article_row_image">
							<a href="{{ page.url }}">
								<picture>
									<source srcset="{{  page.media[page.header.featured_image].cropZoom(800,400).url  }}" media="(max-width: 768px)">

									<img class="hidden-xs img-responsive" src="{{  page.media[page.header.featured_image].cropZoom(800,800).url  }}">
								</picture>
							</a>
						</div>
						<a href="{{ page.url }}">
						<div class="col-sm-8 article_row_content">
							<h3>
								{% if page.header.tagline %}
									<small>{{ page.header.tagline }}</small><br/>
								{%endif %}

									{{ page.title }}
							</h3>
							{% if page.header.rating %}
								{% for i in 1..page.header.rating %}
									<span class="rating_star_filled"></span>
								{% endfor %}
								{% for i in 1..(3 - page.header.rating) %}
									<span class="rating_star_empty"></span>
								{% endfor %}
							{% else %}
								<div class="no_stars"></div>
							{% endif %}
							<p>{{ page.header.quick_summary }}</p>
						</div>
					</a>
					</div>
					<hr class="visible-xs">
				{% endfor %}
				{% if config.plugins.pagination.enabled and collection.params.pagination %}
						{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
				{% endif %}
			</div>
			<div class="col-md-3 articles-sidebar">
				<!-- Search Box -->
				<h3>Search</h3>
				{% include 'partials/simplesearch_searchbox.html.twig' %}
				<!-- Categories Listing -->
				<h3>Categories</h3>
				{% include 'partials/categories.html.twig' %}
				<!-- Social Icons -->
				<h3>Connect With Us</h3>
				{% include 'partials/social.html.twig' %}
				<!-- Ads holder (sorry, need to make money somehow!) -->
				<h3>Paying the Bills</h3>
				{% include 'partials/adsense-sidebar.html.twig' %}
			</div>
		</div>
	</div>

{% endblock %}
