{% extends 'partials/base.html.twig' %}



{% block content %}
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"30096a0aea71b1fef33118e49","lid":"7861bdad84"}) })</script>
	{% if page.header.featured_image_header %}
		<div class="review_header"data-parallax="scroll" data-image-src="{{ page.media[page.header.featured_image_header].url }}">

				<div class="container review_header_container">
					<div class="review_header_content">
						<h1>
							<small>{{ page.header.article_page_tagline }}</small><br/>
							{{ page.header.title }}
						</h1>
					</div>
				</div>
		</div>
	{% else %}
		<div class="review_title_container">
			<div class="container">
				<h1>
					{{ page.title }}
					{% if page.header.article_page_tagline %}<br/>
						<small>{{ page.header.article_page_tagline }}</small>
					{% endif %}
				</h1>
			</div>
		</div>
	{% endif %}

	<div class="container review_content">
    	{{ page.content }}
    </div>
		<div class="container ad_container_article">
				{% include 'partials/adsense-sidebar.html.twig' %}
		</div>
		{% if config.plugins.jscomments.enabled %}
			<div class="container comments-container">
				<h3>Comments</h3>
					{{ jscomments() }}
			</div>
			{% endif %}
		{% if page.collection %}
	    <div class="container marketing">
	    	<h3>Related Articles</h3>
	    	{% include 'modular/articles-3-columns.html.twig' %}
	    </div>
		{% endif %}
{% endblock %}
