{% extends 'partials/base.html.twig' %}

{% block specific_includes %}
	{% do assets.add('theme://js/parallax.min.js') %}
	{% do assets.add('theme://js/review.js') %}
	{{ assets.js() }}
{% endblock %}




{% block content %}
	{% if page.header.featured_image_header %}
		<div class="review_header"data-parallax="scroll" data-image-src="{{ page.media[page.header.featured_image_header].url }}">

				<div class="container review_header_container">
					<div class="review_header_content">
						<h1>
							<small>{{ page.header.article_page_tagline }}</small><br/>
							{{ page.header.title }}
						</h1>
					</div>
				</div>
		</div>
	{% else %}
		<div class="review_title_container">
			<div class="container">
				<h1>
					{% if page.header.article_page_tagline %}
						<small>{{ page.header.article_page_tagline }}</small><br/>
					{% endif %}
					{{ page.title }}
				</h1>
			</div>
		</div>
	{% endif %}

	<div class="container review_content">
    	{{ page.content }}
    </div>
		{% if page.collection %}
	    <div class="container marketing">
	    	<h3>Related Articles</h3>
	    	{% include 'modular/articles-3-columns.html.twig' %}
	    </div>
		{% endif %}
{% endblock %}
